{% extends 'header.html' %} {% block ebanking %}
<div class="cont">
  <form method="POST">
    <div class="login-cont">
      {% csrf_token %}
      <h3 class="title is-2">User Login</h3>
      {% if error%}
      <div class="error">{{error}}</div>
      {% endif %}

      <p>Username</p>
      <input class="input" type="text" name="user" />
      <p>Password</p>
      <input class="input" type="password" name="password" />

      <button class="button is-info" type="submit">Login</button>
    </div>
  </form>
</div>
{% endblock ebanking %}
