{% extends 'sidebar.html' %} {% block user %}
<div>
  <h3 class="title">Profile</h3>
  <span>{{profilemsg}}</span>
  <form method="post" class="t-form">
    {% csrf_token %}
    <div class="flex">
      Account No :
      <input type="text" class="input hiden" value="{{data.acc_no}}" readonly />
    </div>
    <div class="flex">
      Name :
      <input
        type="text"
        class="input hiden"
        value="{{data.fullname}}"
        readonly
      />
    </div>
    <div>
      Email
      <input type="email" class="input" name="email" value="{{data.email}}" />
    </div>
    <div>
      Mobile
      <input
        type="number"
        class="input"
        name="mobile"
        value="{{data.mobile}}"
        maxlength="10"
      />
    </div>
    <div>
      Address
      <input
        type="text"
        class="input"
        name="address"
        value="{{data.address}}"
      />
    </div>
    <div>
      <input
        type="reset"
        class="button is-primary"
        name="reset"
        value="Reset"
      />
      <input
        type="submit"
        class="button is-link"
        name="Submit"
        value="Submit"
      />
    </div>
  </form>
</div>

{% endblock user %}
