{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="flex">
      <div class="sideheader">
        <div class="logo">EBanking</div>
        <div>Hello, {{data.fullname}}</div>

        <div class="side-link">
          <ul>
            <a href="{% url 'usr_dashboard' data.id %}"><li>Dashboard</li></a>
            <a href="{% url 'usr_transaction' data.id %}"
              ><li>Transactions</li></a
            >
            <a href="{% url 'usr_transfer' data.id %}"
              ><li>Money Transfer</li></a
            >
            <a href="{% url 'usr_profile' data.id %}"><li>Profile</li></a>
            <a href="{% url 'logout' %}"><li>Logout</li></a>
          </ul>
        </div>
      </div>
      <div class="container">{% block user %} {% endblock user %}</div>
    </div>
  </body>
</html>
