{% extends 'sidebar.html' %} {% block user %}
<div>
  <h3 class="title">Transfer Details</h3>
  <span>{{transfermsg}}</span>
  <form method="post" class="t-form">
    {% csrf_token %}
    <div forHtml="account">
      Account No <input type="number" class="input" name="account" />
    </div>
    <div forHtml="name">
      Name <input type="text" class="input" name="name" />
    </div>
    <div forHtml="amount">
      Amount <input type="number" class="input" name="amount" />
    </div>
    <div forHtml="Reason">
      Reason <input type="text" class="input" name="reason" />
    </div>
    <div>
      <input
        type="reset"
        class="button is-primary"
        name="reset"
        value="Reset"
      />
      <input
        type="submit"
        class="button is-link"
        name="Submit"
        value="Submit"
      />
    </div>
  </form>
</div>
{% endblock user %}
