{% extends 'sidebar.html' %} {% block user %}
<div>
  <h3 class="title">Transfer Details</h3>
  <span>{{transfermsg}}</span>
  <form method="post" class="t-form">
    {% csrf_token %}
    <div forHtml="account">
      Account No <input type="number" class="inputs" name="account" />
    </div>
    <div forHtml="name">
      Name <input type="text" class="inputs" name="name" />
    </div>
    <div forHtml="amount">
      Amount <input type="number" class="inputs" name="amount" />
    </div>
    <div forHtml="Reason">
      Reason <input type="text" class="inputs" name="reason" />
    </div>
    <div>
      <input type="reset" class="inputs" name="reset" value="Reset" />
      <input type="submit" class="inputs" name="Submit" value="Submit" />
    </div>
  </form>
</div>
{% endblock user %}
