{% extends 'sidebar.html' %} {% block user %}
<div>
  <h3 class="title">Transfer Details</h3>

  <form method="post" class="form">
    {% csrf_token %}
    <div forHtml="account">
      Account No <input type="number" class="inputs" name="account" />
    </div>
    <dib forHtml="name"
      >Name <input type="text" class="inputs" name="name"
    /></dib>
    <div forHtml="amount">
      Amount <input type="text" class="inputs" name="amount" />
    </div>
    <div forHtml="Reason">
      Reason <input type="text" class="inputs" name="reason" />
    </div>
  </form>
</div>
{% endblock user %}
