* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header,
.navbar-dropdown,
.navbar-link {
  background-color: #9898f0;
  color: #fff !important;
}
.navbar-link:hover {
  color: #9898f0;
}
a:hover {
  background-color: #fff;
  color: #9898f0;
}
.navbar-item {
  color: #fff !important;
}
.navbar-item:hover,
.title {
  color: #9898f0 !important;
}
p {
  margin: 1em 0 0.5em 0;
}
.link ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.hover {
  display: none;
}
ul li:hover .hover {
  position: absolute;
  display: block;
  background-color: #9898f0;
}
.hover ul {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.hover ul li:hover {
  background-color: #fff;
  color: #9898f0;
}

.link li {
  padding: 0.5em;
}

.cont {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 400px;
}
h3 {
  color: #9898f0;
  text-align: center;
  margin: 1em 0;
}

.error {
  padding: 1em;
  margin: auto;
  color: #ff0000;
}
input[type="button"] {
  background-color: #9898f0;
  color: #fff;
  padding: 0.3em 0.5em;
  border: none;
}
button {
  width: fit-content;
  margin: auto;
  border: none;
  margin-top: 1em;
}
.label {
  margin-top: 0.8em;
}
