*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #9898f0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    font-weight: 600;
    align-items: center%;
}

.link ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.link li{
    padding: 0.5em;
}

.cont{
    width: auto;
}
.link a{
    text-decoration: none;
    color: inherit;
}
.cont{
    display: flex;
    justify-content: center;
    padding: 5em 0;
}

.login-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
.login-cont h3{
    color: #9898f0;
    text-align: center;
    margin: 1em 0;
}
.inputs input{
    width: 300px;
    margin: 1em 0;
    padding: 0.5em;
    outline: none;
}
.error{
    padding: 1em;
    margin: auto;
    background-color: #ff0000;
    color:#fff;
}
button{
    width: fit-content;
    margin: auto;
    background-color: #9898f0;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: none;
    margin-top: 1em;
}