{% extends 'csidebar.html' %} {% block clerk %}
<div>
  <h3 class="title">Register User Details</h3>
  <span>{{transfermsg}}</span>
  <form method="post" class="t-form">
    {% csrf_token %}
    <div>Name <input type="text" class="input" name="name" /></div>
    <div>Username <input type="text" class="input" name="uname" /></div>
    <div>Email <input type="email" class="input" name="email" /></div>
    <div>Mobile <input type="number" class="input" name="mobile" /></div>
    <div>Address <input type="text" class="input" name="address" /></div>
    <div>Password <input type="password" class="input" name="password" /></div>
    <div>
      Account Type
      <select class="input">
        <option>Select Account Type</option>
        <option value="Savings">Savings</option>
        <option value="RD">RD</option>
      </select>
    </div>
    <div>Amount <input type="number" class="input" name="amount" /></div>
    <div>
      <input
        type="reset"
        class="button is-primary"
        name="reset"
        value="Reset"
      />
      <input
        type="submit"
        class="button is-link"
        name="Submit"
        value="Submit"
      />
    </div>
  </form>
</div>
{% endblock %}
