<div class="columns">
    <div class="column">
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Name :</p>
            </div>
            <div class="column is-7">
                <p class="bd-notification is-info">
                    <input type="text" class="input hiden" value="{{data.fullname}}" readonly />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Address :</p>
            </div>
            <div class="column is-7">
                <p class="bd-notification is-info">
                    <input type="text" class="input hiden" value="{{data.address}}" readonly />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Email :</p>
            </div>
            <div class="column is-7">
                <p class="bd-notification is-info">
                    <input type="email" class="input hiden" value="{{data.email}}" readonly />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Mobile :</p>
            </div>
            <div class="column is-7">
                <p class="bd-notification is-info">
                    <input type="text" class="input hiden" value="{{data.mobile}}" readonly />
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Account No :</p>
            </div>
            <div class="column is-8">
                <p class="bd-notification is-info">
                    <input
                        type="text"
                        class="input hiden"
                        value="{{data.acc_no}}"
                        name="accno"
                        readonly
                    />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Account Type :</p>
            </div>
            <div class="column is-8">
                <p class="bd-notification is-info">
                    <input type="text" class="input hiden" value="{{data.acc_type}}" readonly />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Username :</p>
            </div>
            <div class="column is-8">
                <p class="bd-notification is-info">
                    <input type="text" class="input hiden" value="{{data.username}}" readonly />
                </p>
            </div>
        </div>
        <div class="columns is-6">
            <div class="column is-4">
                <p class="bd-notification is-info">Password :</p>
            </div>
            <div class="column is-8">
                <p class="bd-notification is-info">
                    <input type="password" class="input hiden" value="{{data.password}}" readonly />
                </p>
            </div>
        </div>
    </div>
</div>
