<form method="post" class="t-form">
    {% csrf_token %}
    <div class="columns">
        <div class="column">
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Name :</p>
                </div>
                <div class="column is-6">
                    <p class="bd-notification is-info">
                        <input type="text" class="input hiden" value="{{data.fullname}}" readonly />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Address :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input type="text" class="input" value="{{data.address}}" name="address" />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Email :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input type="email" class="input" value="{{data.email}}" name="email" />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Mobile :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input type="text" class="input" value="{{data.mobile}}" name="mobile" />
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Account No :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input
                            type="text"
                            class="input hiden"
                            value="{{data.acc_no}}"
                            name="accno"
                            readonly
                        />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Account Type :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input type="text" class="input hiden" value="{{data.acc_type}}" readonly />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Username :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input type="text" class="input" value="{{data.username}}" name="uname" />
                    </p>
                </div>
            </div>
            <div class="columns is-6">
                <div class="column is-4">
                    <p class="bd-notification is-info">Password :</p>
                </div>
                <div class="column is-8">
                    <p class="bd-notification is-info">
                        <input
                            type="password"
                            class="input"
                            value="{{data.password}}"
                            name="password"
                        />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <input type="reset" class="button is-primary" name="reset" value="Reset" />
    <input type="submit" class="button is-link" name="Submit" value="Submit" />
</form>
