{% extends 'csidebar.html' %} {% block clerk %}

<h3 class="title">Change Password</h3>
<span>{{profilemsg}}</span>
<form method="post" class="t-form">
  {% csrf_token %}
  <div>
    Username :
    <input type="text" class="input hiden" value="{{data.username}}" readonly />
  </div>
  <div>
    Old Password
    <input type="password" class="input" name="opassword" value="" />
  </div>
  <div>
    New Password
    <input type="password" class="input" name="npassword" value="" />
  </div>
  <div>
    Confirm Password
    <input type="password" class="input" name="cpassword" value="" />
  </div>
  <div>
    <input type="reset" class="button is-primary" name="reset" value="Reset" />
    <input type="submit" class="button is-link" name="Submit" value="Submit" />
  </div>
</form>

{% endblock %}
