<div class="columns">Name: {{reciever.fullname}}</div>
<div class="columns">Balance: {{reciever.balance}}</div>

<div class="column">
    <div class="columns">
        <div class="column">
            <label class="label" style="text-align: right">Amount</label>
        </div>

        <div class="column">
            <p class="control">
                <input
                    class="input"
                    type="text"
                    name="amount"
                    autocomplete="off"
                    style="margin-top: 0em"
                />
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <label class="label" style="text-align: right">Reason</label>
        </div>

        <div class="column">
            <p class="control">
                <input
                    class="input"
                    type="text"
                    name="reason"
                    autocomplete="off"
                    style="margin-top: 0em"
                />
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <input class="button is-link" type="submit" name="submit" value="Submit" />
        </div>
    </div>
</div>
